<script>
export default {
  name: "TaskList",

  props: ["taskList"],
  methods: {
    deleteTask(index) {
      this.$emit("remove-task", index);
    },
    toggleDetails(item) {
      if (this.activeItem === item) {
        item.showDetails = !item.showDetails;
      } else {
        if (this.activeItem) {
          this.activeItem.showDetails = false;
        }
        item.showDetails = true;
        this.activeItem = item;
      }
    },
  },
};
</script>

<template>
  <div>
    <ul>
      <h4 v-if="!taskList.length">No task to display. Please add a task</h4>
      <li v-for="(task, index) in taskList" :key="index">
        <div class="task__item">
          <input type="checkbox" v-model="task.completed" />
          <span :class="{ completed: task.completed }">{{ task.text }}</span>
          <button @click="toggleDetails(task)" class="secondary__button more">
            more
          </button>
          <div v-if="task.showDetails">
            <slot :task="task"></slot>
          </div>
          <button @click="deleteTask(index)" class="secondary__button">
            x
          </button>
        </div>
      </li>
    </ul>
  </div>
</template>

<style scoped>
.task__item {
  display: flex;
  gap: 20px;
  height: 30px;
  margin-bottom: 5px;
}

.task__item > span {
  width: 80%;
  color: #000;
  padding: 5px;
}

.task__item > span:hover {
  background-color: #f3f3f7;
}
.secondary__button {
  padding: 8px 10px;
  margin: 0;
}

.secondary__button:hover {
  border: 1px solid #7f828b;
}

.task__item {
  position: relative;
}
</style>
