<script>
export default {
  name: "TaskForm",
  data() {
    return {
      text: null,
      description: null,
      completed: false,
      showDetails: false,
    };
  },
  methods: {
    onSubmit() {
      let length = 5;
      let characters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      let generatedID = "";

      for (let i = 0; i < length; i++) {
        let randomIndex = Math.floor(Math.random() * characters.length);
        generatedID += characters.charAt(randomIndex);
      }

      this.$emit("add-to-taskList", {
        id: generatedID,
        text: this.text,
        description: this.description,
        completed: this.completed,
        showDetails: this.showDetails,
      });
      this.text = null;
      this.description = null;
    },
  },
};
</script>

<template>
  <div>
    <form action="" @submit.prevent="onSubmit">
      <input type="text" v-model="text" placeholder="Add a task name" />
      <input
        type="text"
        v-model="description"
        placeholder="Add a task description"
      />
      <button type="submit" class="small__button">Add</button>
    </form>
  </div>
</template>

<style scoped>
input {
  width: 80%;
  margin-right: 20px;
  border: 1px solid #e6e8ed;
  background: #e6e8ed;
  margin: 5px 0 5px;
  padding: 5px;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.small__button {
  width: 40px;
  margin-left: 20px;
}
</style>
