<script>
import Header from "./components/Header.vue";
import TaskForm from "./components/TaskForm.vue";
import TaskList from "./components/TaskList.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "App",
  data() {
    return {
      taskList: [],
    };
  },

  components: {
    Header,
    TaskForm,
    TaskList,
    Footer,
  },
  methods: {
    onAddToTaskList(task) {
      if (task.text !== null && task.description !== null) {
        this.taskList.push(task);
      }
    },
    onRemoveTask(index) {
      this.taskList.splice(index, 1);
    },
  },
  computed: {
    taskCount: function () {
      return this.taskList.length;
    },
    completedTasks: function () {
      return this.taskList.reduce((completedTaskCount, task) => {
        if (task.completed) completedTaskCount++;

        return completedTaskCount;
      }, 0);
    },
  },
};
</script>

<template>
  <Header />
  <section class="task">
    <div class="container">
      <div class="task__inner">
        <TaskForm @add-to-taskList="onAddToTaskList" />
        <TaskList
          :taskList="taskList"
          @remove-task="onRemoveTask"
          @task-details="onTaskDetails"
        >
          <template v-slot:default="slotProps">
            <div class="task-details">
              <p>id: {{ slotProps.task.id }}</p>
              <p>name: {{ slotProps.task.text }}</p>
              <p>description: {{ slotProps.task.description }}</p>
            </div>
          </template>
        </TaskList>
        <h4 v-if="taskList.length">
          Tasks count: {{ taskCount }}, Completed task: {{ completedTasks }}
        </h4>
      </div>
    </div>
  </section>
  <Footer />
</template>

<style>
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  font-family: "SFProDisplay-Bold", sans-serif;
}

p {
  margin: 0;
}

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 18px;
  overflow-x: hidden;
  background-color: #eeeff3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.task {
  margin: 50px 0;
  min-height: 300px;
}

.task__inner {
  border-radius: 10px;
  width: 400px;
  background-color: #fff;
  color: black;
  padding: 20px;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.main__button {
  background-color: #5e24da;
  margin: 15px 0;
  font-weight: 700;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  padding: 12px 12px;
  width: 205px;
  border: none;
  border-radius: 5px;
}

.secondary__button {
  background-color: #fff;
  margin: 15px 0;
  color: #868996;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  padding: 10px 45px 10px 15px;
  border: 1px solid #c2c4ca;
  border-radius: 5px;
}

.small__button {
  background-color: #5e24da;
  margin: 15px 0;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
  padding: 12px 12px;
  width: 80px;
  border: none;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  font-weight: bold;
}

.task-details {
  position: absolute;
  border-radius: 10px;
  min-width: 400px;
  background-color: #fff;
  color: black;
  padding: 20px;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.3);
  z-index: 5;
  left: 400px;
  top: -100px;
}

.secondary__button.more {
  position: absolute;
  top: 0;
  right: 35px;
}

.task-details {
  padding: 20px;
}
</style>
